.cardDivCenter {
    padding: 2%;
    align-items: center;
    border-radius: 10px;
}

.cardDivCenter:hover{
    background-color: darkred;
}

#pagina5 {
    background-color: #2c511b;
    border-radius: 20px;
    padding-bottom: 5%;
    padding-top: 5%;
}
