* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: "Playpen Sans", sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background: #c3230f;
}
.logo {
    font-size: 50px;
    color: white;
}
.nav-items {
    display: flex;
    align-items: center;
}
.nav-items a{
    color: white;
    display: inline-block;
    transition: 0.15s ease;
    margin-left: 20px;
}

a.signUp, a.register {
    background: #37850e;
    border-radius: 20px;
    padding: 5px 20px;
    transition: 0.15s ease;
}
.primera {
    text-align: center;
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20201208/pngtree-creative-christmas-gift-box-decoration-green-texture-background-image_504643.jpg");
    background-size: cover;
    height: 630px;
}
h1 {
    font-size: 50px;
    color: white;
}
