#pagina5 {
    background-color: #2c511b;
    border-radius: 20px;
    padding-bottom: 5%;
    padding-top: 5%;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

#div_juegos {
    display: flex;
    flex-direction: row;
    padding: 5%;
}

#div_botones {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-self: center;
}

#div_imagen_pag5 {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-self: center;
    padding: 2%;
}

.div_boton_juego {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 90%;

}

.gameButtons {
    width: 100%;
    border-radius: 10px;
    text-shadow: 2px 2px 4px #000000;
    cursor: pointer;
    align-self: center;
}

.gameButtons:hover {
    background-color: white;
    color: #2c511b;
}

@media only screen and (max-width: 600px){
    #div_juegos {
        flex-direction: column;
    }

    #div_botones {
        flex-direction: row;
        width: 80%;
    }

    #div_imagen_pag5 {
        width: 80%;
    }
}

@media only screen and (max-width: 768px) {
    #div_juegos {
        flex-direction: column;
    }

    #div_botones {
        flex-direction: row;
        width: 80%;
    }

    #div_imagen_pag5 {
        width: 80%;
    }
}