.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background: var(--primary-color);
    background-color: darkred;
    flex-wrap: wrap;
}
.logo {
    font-size: 50px;
    color: white;
}
.nav-items {
    display: flex;
    align-items: center;
}
.nav-items a{
    color: white;
    display: inline-block;
    transition: 0.15s ease;
    margin-left: 20px;
}
.button {
    background: var(--secondary-color);
    border-radius: 20px;
    padding: 5px 20px ;
}
#pagina1 {
    background-image: url("../images/banner.png");
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 630px;
}
.texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120%;
    
}
.texto h1 {
    text-align: center;
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 80px;
}
.texto p {
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 18px;
    color: white;
}
.texto a {
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px; 
    display: inline-block;
    color: white;
    background: var(--secondary-color);
    border-radius: 20px;
    padding: 5px 20px;
}

/* Hide the checkbox by default */
.nav-checkbox {
    display: none;
  }
  
  /* Menu toggle label */
  .nav-toggle-label {
    display: none;
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
  }
  
  /* Hide the menu items by default */
  .nav-items {
    display: flex;
  }
  
  @media (max-width: 600px) {
    .nav-items {
      display: none;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      margin-top: 10px;
    }
  
    /* When checkbox is checked, show the nav items */
    .nav-checkbox:checked + .nav-toggle-label + .nav-items {
      display: flex;
    }
  
    /* Show the menu button on smaller screens */
    .nav-toggle-label {
      display: block;
    }
  
    .nav-items a {
      margin: 10px auto;
      padding: 10px 0;
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .navbar {
      flex-direction: column;
      padding: 19px;
    }
  
    .logo {
      margin-bottom: 10px;
    }
  }

  
@media (max-width:1200px) {
    /* .texto {
        width: 100%;
        height: auto;
   
    } */
    .texto h1 {
        font-size: 60px;
    }
}

/