#pagina2 {
    padding-bottom: 5%;
    padding-top: 5%;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

#div_pag2 {
    display: flex;
    flex-direction: row;
    border: 1px solid var(--primary-color);
    padding-right: 5%;
    padding-left: 5%;
}

#div_img_pag2 {
    display: flex;
    flex-direction: column;
    align_self: center;
    width: 50%;
    border: 1px solid var(--primary-color);
    padding: 10%;
}

#img_pag2 {
    width: 150%;
    height: auto;
    align-self: center;
}

#div_p_pag2 {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 50%;
    border: 1px solid var(--primary-color);
    padding: 8%;
}


#p_pag2 {
    color: white;
}

@media only screen and (max-width: 600px) {
    #div_pag2 {
        display: flex;
        flex-direction: column;
        border: 1px solid var(--primary-color);
        padding-right: 1%;
        padding-left: 1%;
        align-items: safe center
    }

    #div_img_pag2 {
        display: flex;
        flex-direction: column;
        align_self: center;
        width: 90%;
        width: 80%;
        border: 1px solid var(--primary-color);
    }

    #div_p_pag2 {
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 90%;
        border: 1px solid red;
        width: 80%;
        border: 1px solid var(--primary-color);
        padding: 8%;
    }

    #p_pag2 {
        color: white;
        text-align: justify;
    }

    #img_pag2 {
        width: 100%;
        height: auto;
        align-self: center;
    }
}

@media only screen and (max-width: 768px) {
    #div_pag2 {
        display: flex;
        flex-direction: column;
        border: 1px solid var(--primary-color);
        padding-right: 1%;
        padding-left: 1%;
        align-items: safe center
    }

    #div_img_pag2 {
        display: flex;
        flex-direction: column;
        align_self: center;
        width: 90%;
        width: 80%;
        border: 1px solid var(--primary-color);
    }

    #div_p_pag2 {
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 90%;
        border: 1px solid red;
        width: 80%;
        border: 1px solid var(--primary-color);
        padding: 8%;
    }

    #p_pag2 {
        color: white;
        text-align: justify;
    }

    #img_pag2 {
        width: 100%;
        height: auto;
        align-self: center;
    }
}
