#pagina4 {
    padding-bottom: 5%;
    padding-top: 5%;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

#div_pag4 {
    display: flex;
    flex-direction: row;
    border: 1px solid var(--primary-color);
}

#div_form {
    align_self: center;
    width: 65%;
    border: 1px solid var(--primary-color);
}

#div_img_pag4 {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 35%;
    border: 1px solid var(--primary-color);
}

#form_pag4 {
    display: flex;
    flex-direction: column;
    align-self: center;
}

#form12 {
    display: flex;
    flex-direction: row;
    align-self: self-end;
    padding: 1%;
    border: 1px solid var(--primary-color);
    width: 90%;
}

#form34 {
    display: flex;
    flex-direction: row;
    align-self: self-end;
    padding: 1%;
    border: 1px solid var(--primary-color);
    width: 90%;
}

#form1 {
    align-self: center;
    padding: 1%;
    border: 1px solid var(--primary-color);
    width: 70%;
}

#form2 {
    align-self: center;
    padding: 1%;
    border: 1px solid var(--primary-color);
    width: 70%;
}

#form3 {
    align-self: center;
    padding: 1%;
    border: 1px solid var(--primary-color);
    width: 70%;
}

#form4 {
    align-self: center;
    padding: 1%;
    border: 1px solid var(--primary-color);
    width: 70%;
}

#form5 {
    align-self: self-end;
    padding: 2%;
    border: 1px solid var(--primary-color);
    width: 90%;
}

#form6 {
    display: flex;
    flex-direction: column;
    align-self: self-end;
    border: 1px solid var(--primary-color);
    width: 90%;
    align-items: center;
}

#boton_pag4 {
    border: groove;
    width: 20%;
    background-color: #97a391;
    border-radius: 10px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    cursor: pointer;
}

    #boton_pag4:hover {
        background-color: white;
        color: #2c511b;
    }

#texto_pag4 {
    width: 100%;
    height: 150px;
}

#img_pag4 {
    width: 80%;
    height: auto;
    align-self: center;
}

.form_title {
    color: azure;
    text-shadow: 2px 2px 4px #000000;
}

.form_input {
    border-radius: 10px;
    background-color: #97a391;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    #div_pag4 {
        display: flex;
        flex-direction: column;
        width: 100%;
        border: 1px solid var(--primary-color);
    }

    #div_form {
        align-self: safe center;
        width: 80%;
        border: 1px solid var(--primary-color);
    }

    #form12 {
        display: flex;
        flex-direction: column;
        align-self: safe center;
        width: 100%;
    }

    #form34 {
        display: flex;
        flex-direction: column;
        align-self: safe center;
        border: 1px solid var(--primary-color);
        width: 100%;
    }

    #form1 {
        align-self: center;
        padding: 1%;
        border: 1px solid var(--primary-color);
        width: 100%;
    }

    #form2 {
        align-self: center;
        padding: 1%;
        border: 1px solid var(--primary-color);
        width: 100%;
    }

    #form3 {
        align-self: center;
        padding: 1%;
        border: 1px solid var(--primary-color);
        width: 100%;
    }

    #form4 {
        align-self: center;
        padding: 1%;
        border: 1px solid var(--primary-color);
        width: 100%;
    }

    #form5 {
        align-self: safe center;
        border: 1px solid var(--primary-color);
        width: 100%;
    }

    #form6 {
        display: flex;
        flex-direction: column;
        align-self: safe center;
        border: 1px solid var(--primary-color);
        width: 100%;
        align-items: center;
    }

    #div_img_pag4 {
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 80%;
        border: 1px solid var(--primary-color);
        padding: 2%;
    }

    #img_pag4 {
        width: 50%;
        height: auto;
        align-self: center;
    }
}

@media only screen and (max-width: 768px) {

    #div_form {
        align-self: safe center;
        width: 80%;
        border: 1px solid var(--primary-color);
        padding-left: 3%;
    }

    #form12 {
        display: flex;
        flex-direction: column;
        align-self: safe center;
        width: 100%;
    }

    #form34 {
        display: flex;
        flex-direction: column;
        align-self: safe center;
        border: 1px solid var(--primary-color);
        width: 100%;
    }

    #form1 {
        align-self: center;
        padding: 1%;
        border: 1px solid var(--primary-color);
        width: 100%;
    }

    #form2 {
        align-self: center;
        padding: 1%;
        border: 1px solid var(--primary-color);
        width: 100%;
    }

    #form3 {
        align-self: center;
        padding: 1%;
        border: 1px solid var(--primary-color);
        width: 100%;
    }

    #form4 {
        align-self: center;
        padding: 1%;
        border: 1px solid var(--primary-color);
        width: 100%;
    }

    #form5 {
        align-self: safe center;
        border: 1px solid var(--primary-color);
        width: 100%;
    }

    #form6 {
        display: flex;
        flex-direction: column;
        align-self: safe center;
        border: 1px solid var(--primary-color);
        width: 100%;
        align-items: center;
    }
}
