/*_________________________________GENERAL______________________________________________*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: "Playpen Sans", sans-serif;
}
.pagina {
    background-color: none;
    width: 100%;
    height: auto;
}
.titulo2 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
.form_title {
    color: azure;
    text-shadow: 2px 2px 4px #000000;
}
.form_input {
    border-radius: 10px;
    background-color: #97a391;
    width: 100%;
}
h3 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
 
/*___________________________PAGINA UNO_________________________________________________*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background: #c3230f;
}
.logo {
    font-size: 50px;
    color: white;
}
.nav-items {
    display: flex;
    align-items: center;
}
.nav-items a{
    color: white;
    display: inline-block;
    transition: 0.15s ease;
    margin-left: 20px;
}
.button {
    background: #37850e;
    border-radius: 20px;
    padding: 5px 20px;
}
#pagina1 {
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20201208/pngtree-creative-christmas-gift-box-decoration-green-texture-background-image_504643.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 630px;
}
.texto {
    position: absolute;
    width: 600px;
    height: 300px; margin: 20% 30%;
    text-align: center;
}
.texto h1 {
    text-align: center;
    color: #c3230f;
    text-transform: uppercase;
    font-size: 80px;
}
.texto p {
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 18px;
    color: white;
}
.texto a {
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px; 
    display: inline-block;
    color: white;
    background: #37850e;
    border-radius: 20px;
    padding: 5px 20px;
}
@media (max-width:700px) {
    .texto {
        width: 100%;
        height: auto;
        margin: 30% 0;
    }
    .texto h1 {
        font-size: 60px;
    }
}
/*______________________________PAGINA DOS_______________________________________________________*/
#pagina2 {
    padding-bottom: 5%;
    padding-top: 5%;
    background-color: #37850e;
}

#div_pag2 {
    display: flex;
    flex-direction: row;
    border: 1px solid red;
    padding-right: 5%;
    padding-left: 5%;
}

#div_img_pag2 {
    display: flex;
    flex-direction: column;
    align_self: center;
    width: 50%;
    border: 1px solid red;
    padding: 10%;
}

#img_pag2 {
    width: 150%;
    height: auto;
    align-self: center;

}

#div_p_pag2 {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 50%;
    border: 1px solid red;
    padding: 8%; 
}


#p_pag2 {
    color: white;
}

@media only screen and (max-width: 600px){
    #div_pag2 {
        display: flex;
        flex-direction: column;
        border: 1px solid red;
        padding-right: 1%;
        padding-left: 1%;
        align-items:safe center
    }

    #div_img_pag2 {
        display: flex;
        flex-direction: column;
        align_self: center;
        width: 80%;
        border: 1px solid red;
    }

    #div_p_pag2 {
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 80%;
        border: 1px solid red;
        padding: 8%;
    }

    #p_pag2 {
        color: white;
        text-align: justify;
    }
}
/*______________________________PAGINA TRES_______________________________________________________*/
/*______________________________PAGINA CUATRO_______________________________________________________*/
#pagina4 {
    padding-bottom: 5%;
    padding-top: 5%;
    background-color: #37850e;
    border-radius: 20px;
}

#div_pag4 {
    display: flex;
    flex-direction: row;
    border: 1px solid red;
}

#div_form {
    align_self: center;
    width: 65%;
    border: 1px solid red;
}

#div_img_pag4 {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 35%;
    border: 1px solid red;
}

#form_pag4 {
    display: flex;
    flex-direction: column;
    align-self: center;
}

#form12 {
    display: flex;
    flex-direction: row;
    align-self: self-end;
    padding: 1%;
    border: 1px solid red;
    width: 90%;
}

#form34 {
    display: flex;
    flex-direction: row;
    align-self: self-end;
    padding: 1%;
    border: 1px solid red;
    width: 90%;
}

#form1 {
    align-self: center;
    padding: 1%;
    border: 1px solid red;
    width: 70%;
}

#form2 {
    align-self: center;
    padding: 1%;
    border: 1px solid red;
    width: 70%;
}

#form3 {
    align-self: center;
    padding: 1%;
    border: 1px solid red;
    width: 70%;
}

#form4 {
    align-self: center;
    padding: 1%;
    border: 1px solid red;
    width: 70%;
}

#form5 {
    align-self: self-end;
    padding: 2%;
    border: 1px solid red;
    width: 90%;
}

#form6 {
    display: flex;
    flex-direction: column;
    align-self: self-end;
    border: 1px solid red;
    width: 90%;
    align-items: center;
}

#boton_pag4 {
    border: groove;
    width: 20%;
    background-color: #97a391;
    border-radius: 10px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    cursor: pointer;
}

    #boton_pag4:hover {
        background-color: white;
        color: #2c511b;
    }

#texto_pag4 {
    width: 100%;
    height: 150px;
}

#img_pag4 {
    width: 80%;
    height: auto;
    align-self: center;
}

@media only screen and (max-width: 600px) {
    #div_pag4 {
        display: flex;
        flex-direction: column;
        width: 100%;
        border: 1px solid red;
    }

    #div_form {
        align-self: safe center;
        width: 80%;
        border: 1px solid red;
    }

    #form12 {
        display: flex;
        flex-direction: column;
        align-self: safe center;
        border: 1px solid red;
        width: 100%;
    }

    #form34 {
        display: flex;
        flex-direction: column;
        align-self: safe center;
        border: 1px solid red;
        width: 100%;
    }

    #form1 {
        align-self: center;
        padding: 1%;
        border: 1px solid red;
        width: 100%;
    }

    #form2 {
        align-self: center;
        padding: 1%;
        border: 1px solid red;
        width: 100%;
    }

    #form3 {
        align-self: center;
        padding: 1%;
        border: 1px solid red;
        width: 100%;
    }

    #form4 {
        align-self: center;
        padding: 1%;
        border: 1px solid red;
        width: 100%;
    }
    #form5 {
        align-self: safe center;
        border: 1px solid red;
        width: 100%;
    }

    #form6 {
        display: flex;
        flex-direction: column;
        align-self: safe center;
        border: 1px solid red;
        width: 100%;
        align-items: center;
    }

    #div_img_pag4 {
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 80%;
        border: 1px solid red;
        padding: 2%;
    }

    #img_pag4 {
        width: 50%;
        height: auto;
        align-self: center;
    }
}

    /*______________________________PAGINA CINCO_______________________________________________________*/

    /*______________________________FOOTER________________________*/

