<<<<<<< HEAD
/*__________________________________________GENERAL__________________________________________________________*/
=======
/*__


_______________________________GENERAL______________________________________________*/



:root {
    --primary-color: #c3230f;
    --secondary-color: #37850e;
    

}



>>>>>>> 6c97a10c5a357f898210129cde23965182d70216
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: "Playpen Sans", sans-serif;
}
.pagina {
    background-color: none;
    width: auto;
    height: auto;
}
.titulo2 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
.form_title {
    color: azure;
    text-shadow: 2px 2px 4px #000000;
}
.form_input {
    border-radius: 10px;
    background-color: #97a391;
    width: 100%;
}
h3 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
.mountains-of-christmas-regular {
    font-family: "Mountains of Christmas", serif;
    font-weight: 400;
    font-style: normal;
  }
  


/*___________________________PAGINA UNO_________________________________________________*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background: var(--primary-color);
    flex-wrap: wrap;
}
.logo {
    font-size: 50px;
    color: white;
}
.nav-items {
    display: flex;
    align-items: center;
}
.nav-items a{
    color: white;
    display: inline-block;
    transition: 0.15s ease;
    margin-left: 20px;
}
.button {
    background: var(--secondary-color);
    border-radius: 20px;
    padding: 5px 20px ;
}
#pagina1 {
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20201208/pngtree-creative-christmas-gift-box-decoration-green-texture-background-image_504643.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 630px;
}
.texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120%;
    
}
.texto h1 {
    text-align: center;
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 80px;
}
.texto p {
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 18px;
    color: white;
}
.texto a {
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px; 
    display: inline-block;
    color: white;
    background: var(--secondary-color);
    border-radius: 20px;
    padding: 5px 20px;
}

/* Hide the checkbox by default */
.nav-checkbox {
    display: none;
  }
  
  /* Menu toggle label */
  .nav-toggle-label {
    display: none;
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
  }
  
  /* Hide the menu items by default */
  .nav-items {
    display: flex;
  }
  
  @media (max-width: 510px) {
    .nav-items {
      display: none;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      margin-top: 10px;
    }
  
    /* When checkbox is checked, show the nav items */
    .nav-checkbox:checked + .nav-toggle-label + .nav-items {
      display: flex;
    }
  
    /* Show the menu button on smaller screens */
    .nav-toggle-label {
      display: block;
    }
  
    .nav-items a {
      margin: 10px auto;
      padding: 10px 0;
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .navbar {
      flex-direction: column;
      padding: 19px;
    }
  
    .logo {
      margin-bottom: 10px;
    }
  }

  
@media (max-width:1100px) {
    /* .texto {
        width: 100%;
        height: auto;
   
    } */
    .texto h1 {
        font-size: 60px;
    }
}
/*______________________________PAGINA DOS_______________________________________________________*/
#pagina2 {
    padding-bottom: 5%;
    padding-top: 5%;
    background-color: #2c511b;
    border-radius: 20px;
}

#div_pag2 {
    display: flex;
    flex-direction: row;
    border: 1px solid var(--primary-color);
    padding-right: 5%;
    padding-left: 5%;
}

#div_img_pag2 {
    display: flex;
    flex-direction: column;
    align_self: center;
    width: 50%;
    border: 1px solid var(--primary-color);
    padding: 10%;
}

#img_pag2 {
    width: 150%;
    height: auto;
    align-self: center;

}

#div_p_pag2 {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 50%;
    border: 1px solid var(--primary-color);
    padding: 8%; 
}


#p_pag2 {
    color: white;
}

@media only screen and (max-width: 600px){
    #div_pag2 {
        display: flex;
        flex-direction: column;
        border: 1px solid var(--primary-color);
        padding-right: 1%;
        padding-left: 1%;
        align-items:safe center
    }

    #div_img_pag2 {
        display: flex;
        flex-direction: column;
        align_self: center;
        width: 90%;
        width: 80%;
        border: 1px solid var(--primary-color);
    }

    #div_p_pag2 {
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 90%;
        border: 1px solid red;
        width: 80%;
        border: 1px solid var(--primary-color);
        padding: 8%;
    }

    #p_pag2 {
        color: white;
        text-align: justify;
    }

    #img_pag2 {
        width: 100%;
        height: auto;
        align-self: center;
    }
}
@media only screen and (max-width: 768px){
    #div_pag2 {
        display: flex;
        flex-direction: column;
        border: 1px solid var(--primary-color);
        padding-right: 1%;
        padding-left: 1%;
        align-items: safe center
    }

    #div_img_pag2 {
        display: flex;
        flex-direction: column;
        align_self: center;
        width: 90%;
        width: 80%;
        border: 1px solid var(--primary-color);
    }

    #div_p_pag2 {
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 90%;
        border: 1px solid red;
        width: 80%;
        border: 1px solid var(--primary-color);
        padding: 8%;
    }

    #p_pag2 {
        color: white;
        text-align: justify;
    }

    #img_pag2 {
        width: 100%;
        height: auto;
        align-self: center;
    }
}
/*______________________________PAGINA TRES_______________________________________________________*/
#pagina3 {
    padding-bottom: 5%;
    padding-top: 5%;
    background-color: #2c511b;
    border-radius: 20px;
}


/*______________________________PAGINA CUATRO_______________________________________________________*/
#pagina4 {
    padding-bottom: 5%;
    padding-top: 5%;
    background-color: #2c511b;
    border-radius: 20px;
}

#div_pag4 {
    display: flex;
    flex-direction: row;
    border: 1px solid var(--primary-color);
}

#div_form {
    align_self: center;
    width: 65%;
    border: 1px solid var(--primary-color);
}

#div_img_pag4 {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 35%;
    border: 1px solid var(--primary-color);
}

#form_pag4 {
    display: flex;
    flex-direction: column;
    align-self: center;
}

#form12 {
    display: flex;
    flex-direction: row;
    align-self: self-end;
    padding: 1%;
    border: 1px solid var(--primary-color);
    width: 90%;
}

#form34 {
    display: flex;
    flex-direction: row;
    align-self: self-end;
    padding: 1%;
    border: 1px solid var(--primary-color);
    width: 90%;
}

#form1 {
    align-self: center;
    padding: 1%;
    border: 1px solid var(--primary-color);
    width: 70%;
}

#form2 {
    align-self: center;
    padding: 1%;
    border: 1px solid var(--primary-color);
    width: 70%;
}

#form3 {
    align-self: center;
    padding: 1%;
    border: 1px solid var(--primary-color);
    width: 70%;
}

#form4 {
    align-self: center;
    padding: 1%;
    border: 1px solid var(--primary-color);
    width: 70%;
}

#form5 {
    align-self: self-end;
    padding: 2%;
    border: 1px solid var(--primary-color);
    width: 90%;
}

#form6 {
    display: flex;
    flex-direction: column;
    align-self: self-end;
    border: 1px solid var(--primary-color);
    width: 90%;
    align-items: center;
}

#boton_pag4 {
    border: groove;
    width: 20%;
    background-color: #97a391;
    border-radius: 10px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    cursor: pointer;
}

    #boton_pag4:hover {
        background-color: white;
        color: #2c511b;
    }

#texto_pag4 {
    width: 100%;
    height: 150px;
}

#img_pag4 {
    width: 80%;
    height: auto;
    align-self: center;
}

@media only screen and (max-width: 600px) {
    #div_pag4 {
        display: flex;
        flex-direction: column;
        width: 100%;
        border: 1px solid var(--primary-color);
    }

    #div_form {
        align-self: safe center;
        width: 80%;
        border: 1px solid var(--primary-color);
    }

    #form12 {
        display: flex;
        flex-direction: column;
        align-self: safe center;
        width: 100%;
    }

    #form34 {
        display: flex;
        flex-direction: column;
        align-self: safe center;
        border: 1px solid var(--primary-color);
        width: 100%;
    }

    #form1 {
        align-self: center;
        padding: 1%;
        border: 1px solid var(--primary-color);
        width: 100%;
    }

    #form2 {
        align-self: center;
        padding: 1%;
        border: 1px solid var(--primary-color);
        width: 100%;
    }

    #form3 {
        align-self: center;
        padding: 1%;
        border: 1px solid var(--primary-color);
        width: 100%;
    }

    #form4 {
        align-self: center;
        padding: 1%;
        border: 1px solid var(--primary-color);
        width: 100%;
    }
    #form5 {
        align-self: safe center;
        border: 1px solid var(--primary-color);
        width: 100%;
    }

    #form6 {
        display: flex;
        flex-direction: column;
        align-self: safe center;
        border: 1px solid var(--primary-color);
        width: 100%;
        align-items: center;
    }

    #div_img_pag4 {
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 80%;
        border: 1px solid var(--primary-color);
        padding: 2%;
    }

    #img_pag4 {
        width: 50%;
        height: auto;
        align-self: center;
    }
}

@media only screen and (max-width: 768px){

    #div_form {
        align-self: safe center;
        width: 80%;
        border: 1px solid var(--primary-color);
        padding-left: 3%;
    }

    #form12 {
        display: flex;
        flex-direction: column;
        align-self: safe center;
        width: 100%;
    }

    #form34 {
        display: flex;
        flex-direction: column;
        align-self: safe center;
        border: 1px solid var(--primary-color);
        width: 100%;
    }

    #form1 {
        align-self: center;
        padding: 1%;
        border: 1px solid var(--primary-color);
        width: 100%;
    }

    #form2 {
        align-self: center;
        padding: 1%;
        border: 1px solid var(--primary-color);
        width: 100%;
    }

    #form3 {
        align-self: center;
        padding: 1%;
        border: 1px solid var(--primary-color);
        width: 100%;
    }

    #form4 {
        align-self: center;
        padding: 1%;
        border: 1px solid var(--primary-color);
        width: 100%;
    }

    #form5 {
        align-self: safe center;
        border: 1px solid var(--primary-color);
        width: 100%;
    }

    #form6 {
        display: flex;
        flex-direction: column;
        align-self: safe center;
        border: 1px solid var(--primary-color);
        width: 100%;
        align-items: center;
    }

}
/*______________________________PAGINA CINCO_______________________________________________________*/
.cardDivCenter {
    padding: 2%;
    align-items: center;
    border-radius: 10px;
}

.cardDivCenter:hover{
    background-color: darkred;
}

#pagina5 {
    background-color: #2c511b;
    border-radius: 20px;
    padding-bottom: 5%;
    padding-top: 5%;
}
    /*______________________________FOOTER________________________*/

#footer {
    background-color: darkred;
    padding-bottom: 5%;
    padding-top: 5%;
    display: flex;
    flex-direction: row;
    padding-right: 5%;
    padding-left: 5%;
}


#div_footer1 {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#div_footer2 {
    width: 50%;
    display: flex;
    flex-direction: column;
}

#instagram {
    display: flex;
    flex-direction: column;
    width: 10%;
}

#instagram_img{
    width: 100%;
    height: auto;
}

#facebook {
    width: 10%;
    display: flex;
    flex-direction: column;
}

#facebook_img {
    width: 75%;
    height: auto;
}

@media only screen and (max-width: 600px){
    #footer {
        flex-direction: column;
    }

    #div_footer1 {
        width: 50%;
        display: flex;
        flex-direction: row;
        align-self: safe center;
    }

    #div_footer2 {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-self: safe center;
    }

    #instagram {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    #instagram_img {
        width: 40%;
        height: auto;
        align-self: self-end;
    }

    #facebook {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    #facebook_img {
        width: 30%;
        height: auto;
    }
}